<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13C64</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>plot</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Plot2Doc</string>
			<key>CFBundleTypeName</key>
			<string>PlotDocument</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PLOU</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PlotDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>myplot</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Plot2DocMysql</string>
			<key>CFBundleTypeName</key>
			<string>PlotMySQL</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PLOU</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OpenDoc</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>maplot</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Plot2DocMacro</string>
			<key>CFBundleTypeName</key>
			<string>PlotMacro</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PLOU</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>OpenDoc</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Plot2</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>eu.micw.plot2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.00</string>
	<key>CFBundleSignature</key>
	<string>PLOU</string>
	<key>CFBundleVersion</key>
	<string>4241</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5B130a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C64</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0510</string>
	<key>DTXcodeBuild</key>
	<string>5B130a</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>NSMainNibFile</key>
	<string>Plot</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
